<h1 class="text-xl text-left">本管理 > 本登録</h1>
<%# APIのcontroller作成時にURL修正する %>
<%= form_tag({:action=>"search", :controller=>"admin/books"},{ method: :post }) do %>

  <div class="lex flex-col py-10 space-y-4 space-x-4">
    <label for="isbn">ISBN-10</label>
    <input class="w-80 bg-white shadow rounded" type="text" name="isbn" id="isbn"/>
    <input type="submit" value="検索" class="w-70 text-white bg-blue-700 hover:bg-sky-500 font-medium rounded-lg border-solid text-m px-5 py-2.5" />
  </div>
<% end %>

<% if @result_book %>
  <%= render partial: 'search_result', locals: { result_book: @result_book } %>
<% end %>
