<h1 class="text-3xl">本管理 > 本登録</h1>
<%# APIのcontroller作成時にURL修正する %>
<%= form_tag({:action=>"search", :controller=>"admin/books"},{ method: :post }) do %>
  <div class="flex">
    <div>
      <div>
        <label for="isbn">ISBN-10</label>
        <input type="text" name="isbn" id="isbn"/>
      </div>
      <input type="submit" value="検索" class="w-full mt-6 text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5" />
    </div>
  </div>
<% end %>
